{% extends "layout.html.twig" %}

{% block title %}
	{% trans %}DashBoard{% endtrans %}
{% endblock %}

{% block content %}
	<h1>{{ block("title") }}</h1>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">IP address</div>
				<div class="card-body">
					<p class="card-text">{{ ipAddress }}</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">Timestamp {{ "now"|date("d.m.Y H:i:s") }}</div>
				<div class="card-body">
					<p class="card-text">{{ "now"|date("U") }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}